<div class='container'>
  <h3>Alerts</h3>
  <ul>
  {{#each model as |alert|}}
    <li>
      <div>{{alert.alertDefinitionName}}</div>
      <div>{{alert.status}}</div>
    </li>
  {{/each}}
  </ul>
</div>
