<div class='container'>
	<div class='jumbotron'>
		<div>
			<label>Name:</label>
	 		{{input type="text" value=name placeholder="Enter your name"}}
	 	</div>
		<div class="text">
			<h2>My name is {{name}}. ¡Hola!</h2>
		</div>
	</div>
</div>