<div class='container'>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				{{gravatar-image email="tomster@emberjs.com" size="340"}}
      		</div>
    	</div>
    	<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				{{gravatar-image size="340"}}
      		</div>
    	</div>
    	<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				{{gravatar-image size="340"}}
      		</div>
    	</div>

  	</div>
</div>